sidemenuConfig = {
	w: 280px
	bg: white
	zIndex: 6
}

.sidemenu
	position: fixed
	left: 0
	top: 0
	width: 100%
	height: 100%
	overflow: hidden
	pointer-events: none
	&:before
		content: ''
		display: block
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%
		background: rgba(0,0,0,0.4)
		opacity: 0
		will-change: opacity
		transition: opacity 0.3s cubic-bezier(0,0,0.3,1)
	&__nav
		position: relative
		width: 90%
		max-width: 400px
		background: #FFF
		height: 100%
		box-shadow: 2px 0 12px rgba(0,0,0,0.4)
		transform: translateX(-102%)
		display: flex
		flex-direction: column
		will-change: transform
	&--anima &__nav
		transition: transform 0.33s cubic-bezier(0, 0, 0.3, 1)
	&--open
		pointer-events: auto
		&:before
			opacity: 1
	&--open &__nav
		transform: none
